<div class="container p-4">
  <div class="row">
    {{#each equipos}}
      <div class="col-md-4">
        <div class="card text-center my-3">
          <div class="card-body">
            <a href="#">
              <h3 class="card-title text-uppercase">Equipo {{id_equipo}}</h3>
            </a>
            {{#if disponibilidad_equipo}}
              <p> Equipo dispobible</p>
              <a href="#">Reservar equipo</a>
            {{else}}
            <p> Equipo reservado</p>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
