<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestion de salas
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/salas">Listado de salas</a></li>
    <li><a class="dropdown-item" href="/salas/add">Crear Salas</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestion de horarios
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/horarios">Listado de horarios</a></li>
    <li><a class="dropdown-item" href="/horarios/add">Crear nuevo horario</a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="/reservas">Listado de reservas</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestion de usuarios
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
    <li><a class="dropdown-item" href="/signup">Registrar usuarios</a></li>
    <li><a class="dropdown-item" href="/usuarios">Listado de usuarios</a></li>
  </ul>
</li>
