<div class="container-btn">
  <input type="checkbox" id="toggle">
  <label for="toggle" class="button"><i class="bi bi-patch-question question"></i></label>
  <nav class="nav">
    <a>Dudas, inquietudes o sugetencias</a>
    <a target="_blank" href="https://wa.link/1rsj8v">Comunicate a nuestra linea <i style="color:rgb(72, 231, 116)" class="bi bi-whatsapp"></i></a>
  </nav>
</div>
